.backbtn{
    color: var(--theme-color);
    text-decoration: none;
}
.content{
    margin: 30px;
}
.inbtn{
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    box-shadow: 0px 0px 6px 2px var(--theme-color) inset;
    background: var(--theme-color);
    text-shadow: 1px 0px 1px var(--theme-shadow);
    margin-right: 30px;
    text-decoration: none;
}