@font-face {
    font-family: "iconfont"; /* Project id 85105 */
    src: url('./iconfont/iconfont.woff2?t=1708149135414') format('woff2'),
         url('./iconfont/iconfont.woff?t=1708149135414') format('woff'),
         url('./iconfont/iconfont.ttf?t=1708149135414') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-shoushi_dianji:before {
    content: "\e7b2";
  }
  
  .icon-x:before {
    content: "\e617";
  }
  
  .icon-tubiao39:before {
    content: "\e628";
  }
  
  .icon-gongfanglogo:before {
    content: "\e65e";
  }
  
  .icon-iconfontjiantou1:before {
    content: "\e60e";
  }
  
  .icon-iconfontjiantou3:before {
    content: "\e60d";
  }
  
  .icon-iconfontjiantou3-copy:before {
    content: "\e60f";
  }
  
  .icon-kongxinyuandian:before {
    content: "\e60b";
  }
  
  .icon-weixin:before {
    content: "\e608";
  }
  
  .icon-icontupian:before {
    content: "\e609";
  }
  
  .icon-weibo:before {
    content: "\e60a";
  }
  
  .icon-shixinxiaoyuandian:before {
    content: "\e607";
  }
  
  .icon-qq:before {
    content: "\e604";
  }
  
  .icon-diannao:before {
    content: "\e605";
  }
  
  .icon-shijianshizhong:before {
    content: "\e606";
  }
  
  .icon-sousuo:before {
    content: "\e601";
  }
  
  .icon-shouji:before {
    content: "\e602";
  }
  
  .icon-youjian:before {
    content: "\e603";
  }
  
  .icon-daohang:before {
    content: "\e600";
  }
  